body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background: url("./background.jpg");
    background-size: cover;
}

#board {
    width: 540px;
    height: 540px;
    background-color: green;
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}


#board div {
    width: 165px; 
    height: 180px; 
    background-image: url("./Hole-PNG-Clipart.png");
    background-size: cover;
}

#board div img {
    width: 105px; 
    height: 105px; 
}